
    <%- include("./partials/header"); -%>
    <h1>Home</h1>
    <p><%=initialSec  %></p>
    <% posts.forEach(post => { %>
       <h1><a href="/post/<%= post.title %>"><%=post.title %></a></h1> 
       <div style="display: inline-block;">
         <p style="display: inline;"><%= post.content %></p>
         <a href="/post/<%= post.title %>" style="display: inline;">..Read More</a>
     </div>
      
    <% }); %>
    <%- include("./partials/footer"); -%>
 